
@{
    ViewData["Title"] = "Index";
    Layout = "AdminLayout";
}

<h2 class="peliculas-tittle" id="peliculas">Peliculas</h2>
<section class="Peliculas-tam">
    <div class="img-peliculas">
        <a href="libros.html"><img src="/img/lbr3.jpg" alt="imgpeliculas"></a>
        <h5>El señor de los anillos: La comunidad del anillo (2001)</h5>
        <!-- Final -->
    </div>
    <div class="img-peliculas">
        <a href=""><img src="~/img/lbr3.jpg" alt="imgpeliculas"></a>
        <h5>El señor de los anillos: Las dos torres (2002)</h5>
        <!-- Final -->
    </div>
    <div class="img-peliculas">
        <a href=""><img src="~/img/lbr3.jpg" alt="imgpeliculas"></a>
        <h5>El señor de los anillos: El retorno del rey (2003)</h5>
        <!-- Final -->
    </div>
    <div class="img-peliculas">
        <a href=""><img src="/img/lbr3.jpg" alt="imgpeliculas"></a>
        <h5>El Hobbit: Un viaje inesperado (2012)</h5>
        <!-- Final -->
    </div>
    <div class="img-peliculas">
        <a href=""><img src="/img/lbr3.jpg" alt="imgpeliculas"></a>
        <h5>El Hobbit: La desolación de Smaug (2013)</h5>
        <!-- Final -->
    </div>
    <div class="img-peliculas">
        <a href=""><img src="/img/lbr3.jpg" alt="imgpeliculas"></a>
        <h5>El Hobbit: La batalla de los cinco ejércitos (2014)</h5>
        <!-- Final -->
    </div>

</section>

