@{
    Layout = "Layout";
}
<div class="mainIndexContent">

    <div class="textContents">
        <label class="lbltitle">
            Enciclopedia del Señor de los anillos

        </label>
        <div class="textDescDiv">
            <label class="lbltext">
                “Todo lo que tenemos que decidir es qué hacer con el tiempo que se nos ha dado.” - Gandalf
            </label>
        </div>
        <section class="infoSection">
            <div class="franchiseInfo">
                <h1>¿Qué es "El señor de los anillos"?</h1>
                <p>
                    El Señor de los Anillos es una novela de fantasía épica escrita por el filólogo y escritor británico J. R. R. Tolkien. Su historia se desarrolla en la Tierra Media, un lugar ficticio poblado por hombres y otras razas antropomorfas, como los hobbits, los elfos o los enanos, así como por muchas otras criaturas reales y fantásticas.
                </p>
                <p>
                    La novela narra el viaje del protagonista principal, Frodo Bolsón, hobbit de la Comarca, para destruir el Anillo Único y la consiguiente guerra que provocará el enemigo para recuperarlo, ya que es la principal fuente de poder de su creador, el señor oscuro Sauron.
                </p>
                <p>
                    El Señor de los Anillos ha sido adaptado al cine en varias ocasiones, siendo la más famosa la trilogía dirigida por Peter Jackson, que se estrenó entre 2001 y 2003 y que recibió numerosos premios y reconocimientos, entre ellos 17 premios Óscar. También se ha anunciado una serie de televisión basada en la Segunda Edad de la Tierra Media, que se estrenará en 2022.
                </p>
                <p>
                    El Señor de los Anillos es considerada una de las obras maestras de la literatura fantástica y una de las más influyentes en el género. Su autor creó un mundo complejo y coherente, con su propia historia, mitología, idiomas y culturas, que ha fascinado a generaciones de lectores y ha inspirado a muchos otros escritores y artistas. El Señor de los Anillos es una novela que invita a la aventura, la amistad, la esperanza y la resistencia frente al mal.
                </p>
            </div>
            <div class="otherData">
                <h1>
                    J.R.R Tolkien
                </h1>
                <div class="tolkienInfo">
                    <img class="imgTolkien" src="~/img/tolkien.jpg" />
                    <p>
                        J. R. R. Tolkien fue un escritor, poeta, filólogo y profesor universitario británico, nacido en Sudáfrica en 1892. Es conocido principalmente por ser el autor de El Señor de los Anillos, una novela de fantasía épica que narra la lucha entre el bien y el mal en la Tierra Media, un mundo imaginario poblado por hombres, hobbits, elfos, enanos y otras criaturas fantásticas.
                    </p>
                    <p>
                        Tolkien escribió El Señor de los Anillos como una continuación de su anterior obra, El Hobbit, que había publicado en 1937 y que había tenido una buena acogida por parte del público y la crítica.
                    </p>
                    <p>
                        Tolkien empezó a escribir El Señor de los Anillos en 1937, pero tardó más de una década en terminarlo, debido a sus obligaciones académicas, su participación en la Segunda Guerra Mundial y sus revisiones constantes. La obra se publicó en tres volúmenes entre 1954 y 1955, y aunque al principio tuvo una recepción mixta, pronto se convirtió en un éxito de ventas y en un referente de la literatura fantástica. El Señor de los Anillos ha sido traducido a más de 40 idiomas y ha vendido más de 150 millones de copias en todo el mundo. También ha sido adaptado al cine, al teatro, al cómic y a los videojuegos, con gran repercusión cultural y mediática.
                    </p>
                </div>
            </div>
        </section>

    </div>
</div>
<section class="libros-tam">
    <h2>Libros</h2>
    <div class="img-libros">
        <img src="~/img/tolkien.jpg" alt="imglibro">
        <h5>Titulo</h5>
    </div>
    <!--img1 -->
    <div class="img-libros">
        <img src="~/img/tolkien.jpg" alt="imglibro">
        <h5>Titulo</h5>
    </div>
    <!--img2 -->
    <div class="img-libros">
        <img src="~/img/tolkien.jpg" alt="imglibro">
        <h5>Titulo</h5>
    </div>
    <!--img3 -->
    <div class="img-libros">
        <img src="~/img/tolkien.jpg" alt="imglibro">
        <h5>Titulo</h5>
    </div>
    <!--img4 --><div class="img-libros">
        <img src="~/img/tolkien.jpg" alt="imglibro">
        <h5>Titulo</h5>
    </div>
    <!--img5 --><div class="img-libros">
        <img src="~/img/tolkien.jpg" alt="imglibro">
        <h5>Titulo</h5>
    </div>
    <!--img6 --><div class="img-libros">
        <img src="~/img/tolkien.jpg" alt="imglibro">
        <h5>Titulo</h5>
    </div>
    <!--img7 --><div class="img-libros">
        <img src="~/img/tolkien.jpg" alt="imglibro">
        <h5>Titulo</h5>
    </div>
    <!--img8 -->
</section>


<section class="datos-tam">
    <div class="datos-text">
        <h2>Datos Curiosos</h2>

        <h4>dato</h4>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus voluptas qui eum aperiam labore, doloremque similique natus, ex id dol</p>
    </div>
</section>

<section class="Juegos-tam">
    <div class="img-juegos">
        <img src="~/img/lbr2.jpg" alt="imglibro">
        <h5>Titulo</h5>
    </div>
    <!-- fin -->
    <div class="img-juegos">
        <img src="~/img/lbr2.jpg" alt="imglibro">
        <h5>Titulo</h5>
    </div>
    <!-- fin -->
    <div class="img-juegos">
        <img src="~/img/lbr2.jpg" alt="imglibro">
        <h5>Titulo</h5>
    </div>
    <!-- fin -->
    <div class="img-juegos">
        <img src="~/img/lbr2.jpg" alt="imglibro">
        <h5>Titulo</h5>
    </div>
    <!-- fin -->
    <div class="img-juegos">
        <img src="~/img/lbr2.jpg" alt="imglibro">
        <h5>Titulo</h5>
    </div>
    <!-- fin -->
    <div class="img-juegos">
        <img src="/img/lbr2.jpg" alt="imglibro">
        <h5>Titulo</h5>
    </div>
    <!-- fin -->
    <div class="img-juegos">
        <img src="/img/lbr2.jpg" alt="imglibro">
        <h5>Titulo</h5>
    </div>
    <!-- fin -->
    <div class="img-juegos">
        <img src="/img/lbr2.jpg" alt="imglibro">
        <h5>Titulo</h5>
    </div>
    <!-- fin -->
</section>

<section class="Peliculas-tam">
    <h2>Peliculas</h2>
    <div class="img-peliculas">
        <img src="/img/lbr3.jpg" alt="imgpeliculas">
        <h5>Titulo de la pelicula</h5>
        <!-- Final -->
    </div>
    <div class="img-peliculas">
        <img src="/img/lbr3.jpg" alt="imgpeliculas">
        <h5>Titulo de la pelicula</h5>
        <!-- Final -->
    </div>
    <div class="img-peliculas">
        <img src="/img/lbr3.jpg" alt="imgpeliculas">
        <h5>Titulo de la pelicula</h5>
        <!-- Final -->
    </div>
    <div class="img-peliculas">
        <img src="/img/lbr3.jpg" alt="imgpeliculas">
        <h5>Titulo de la pelicula</h5>
        <!-- Final -->
    </div>
    <div class="img-peliculas">
        <img src="/img/lbr3.jpg" alt="imgpeliculas">
        <h5>Titulo de la pelicula</h5>
        <!-- Final -->
    </div>
    <div class="img-peliculas">
        <img src="/img/lbr3.jpg" alt="imgpeliculas">
        <h5>Titulo de la pelicula</h5>
        <!-- Final -->
    </div>
    <div class="img-peliculas">
        <img src="/img/lbr3.jpg" alt="imgpeliculas">
        <h5>Titulo de la pelicula</h5>
        <!-- Final -->
    </div>
    <div class="img-peliculas">
        <img src="/img/lbr3.jpg" alt="imgpeliculas">
        <h5>Titulo de la pelicula</h5>
        <!-- Final -->
    </div>

</section>

<section class="Personajes-tam">
    <h2>Personajes Principales</h2>
    <div class="imgPersonajes">
        <img src="/img/9.jpg" alt="imgpersonajes">
        <h5>Name</h5>
    </div>
    <!-- Fin -->
    <div class="imgPersonajes">
        <img src="/img/9.jpg" alt="imgpersonajes">
        <h5>Name</h5>
    </div>
    <!-- Fin -->
    <div class="imgPersonajes">
        <img src="/img/9.jpg" alt="imgpersonajes">
        <h5>Name</h5>
    </div>
    <!-- Fin -->
    <div class="imgPersonajes">
        <img src="/img/9.jpg" alt="imgpersonajes">
        <h5>Name</h5>
    </div>
    <!-- Fin -->
    <div class="imgPersonajes">
        <img src="/img/9.jpg" alt="imgpersonajes">
        <h5>Name</h5>
    </div>
    <!-- Fin -->
    <div class="imgPersonajes">
        <img src="/img/9.jpg" alt="imgpersonajes">
        <h5>Name</h5>
    </div>
    <!-- Fin -->
    <div class="imgPersonajes">
        <img src="/img/9.jpg" alt="imgpersonajes">
        <h5>Name</h5>
    </div>
    <!-- Fin -->
    <div class="imgPersonajes">
        <img src="/img/9.jpg" alt="imgpersonajes">
        <h5>Name</h5>
    </div>
    <!-- Fin -->
</section>

<section class="Nosotros-container">
    <div class="nosotros-text">
        <h2>¿Por qué elegimos este tema?</h2>
        <p>
            Elegimos este tema ya que alexis lo escogio.
            Este proyecto no es solo una colección de datos; es un acto de amor por la fantasía, la narrativa rica y la magia que solo Tolkien pudo crear. Aquí, cada artículo,
            cada detalle, es tejido con la misma devoción que Tolkien dedicó a la creación de su obra maestra. Únete a mí en este viaje
            , donde la pasión por El Señor de los Anillos cobra vida en cada palabra y cada página.
        </p>
    </div>
</section>