
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1 style="margin-top:10rem">Index</h1>
<h1 style="color:gold; margin-left:2%;">Hola, @User.Identity.Name</h1>