@model LOTR_Web.Areas.Admin.Models.AdminPublicacionesViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<section class="foroSection">
   
    @foreach (var item in Model.Publicaciones)
    {
        <div class="container">

            <div class="container-usario">
                <div class="headerPost">
                    <div class="profile-pic">
                        <img src="~/profpics/@(item.UserId).png" alt="Foto">
                    </div>
                    <label class="nameForo">@item.UserName</label>

                    <label class="dateForo">@item.Fecha.ToShortDateString()</label>
                </div>
                <p class="txtPost">
                    @item.Texto
                </p>
                @if (item.Archivo)
                {

                    <img src="~/publicaciones/@(item.Id).png" class="postFoto" alt="">
                }
            </div>
        </div>
    }


</section>
