
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2 id="juegos" class="juegos-tittle">Juegos</h2>
<section class="Juegos-tam">
    <div class="img-juegos">
        <img src="~/img/lbr2.jpg" alt="imglibro">
        <h5>LEGO El Señor de los Anillos</h5>
    </div>
    <!-- fin -->
    <div class="img-juegos">
        <img src="~/img/lbr2.jpg" alt="imglibro">
        <h5>El Señor de los Anillos: La Tercera Edad</h5>
    </div>
    <!-- fin -->
    <div class="img-juegos">
        <img src="~/img/lbr2.jpg" alt="imglibro">
        <h5>El Señor de los Anillos: El Retorno del Rey</h5>
    </div>
    <!-- fin -->
    <div class="img-juegos">
        <img src="/img/lbr2.jpg" alt="imglibro">
        <h5>El Señor de los Anillos Online:</h5>
    </div>
    <!-- fin -->
    <div class="img-juegos">
        <img src="/img/lbr2.jpg" alt="imglibro">
        <h5>La Tierra Media:</h5>
    </div>
    <!-- fin -->
    <div class="img-juegos">
        <img src="/img/lbr2.jpg" alt="imglibro">
        <h5>La Tierra Media: Sombras de Mordor:</h5>
    </div>
    <!-- fin -->
    <div class="img-juegos">
        <img src="/img/lbr2.jpg" alt="imglibro">
        <h5>El Señor de los Anillos: La Guerra del Norte:</h5>
    </div>
    <!-- fin -->
    <div class="img-juegos">
        <img src="/img/lbr2.jpg" alt="imglibro">
        <h5>La Tierra Media: Sombras de Guerra:</h5>
    </div>
    <!-- fin -->
</section>

