@model LOTR_Web.Models.Entities.Libros
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<form class="libroAgregarForm" method="post" action="~/Admin/Libros/Eliminar">
    <label>Eliminación de Libro</label>
    <label>Nombre</label>
    <input type="hidden" asp-for="Id"/>
    <input type="text" disabled asp-for="Nombre"/>
    <label>Descripción</label>
    <textarea disabled>@Model.Descripcion</textarea>
    <div>
        <label>Portada</label>
        <img src="~/Libros/@(Model.Id).png" id="imagen-preview" height="50" width="50"/>
    </div>
    <input type="submit" value="Eliminar" />
    <a href="~/Admin/Libros">
        <input type="button" value="Cancelar" />
    </a>
    <p class="errors">@Html.ValidationSummary(true)</p>
</form>

