
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="librosContainer">
            <a href="#">
                <div class="libro">
                    <img src="~/img/libros/1.png" alt="Book 1" style="width: 200px;">
                    <h2>Titulo del Libro 1</h2>
                </div>
            </a>
            <a href="#">
                <div class="libro">
                    <img src="~/img/libros/1.png" alt="Book 1" style="width: 200px;">
                    <h2>Titulo del Libro 1</h2>
                </div>
            </a>
            <a href="#">
                <div class="libro">
                    <img src="~/img/libros/1.png" alt="Book 1" style="width: 200px;">
                    <h2>Titulo del Libro 1</h2>
                </div>
            </a>
            <a href="#">
                <div class="libro">
                    <img src="~/img/libros/1.png" alt="Book 1" style="width: 200px;">
                    <h2>Titulo del Libro 1</h2>
                </div>
            </a>
            <a href="#">
                <div class="libro">
                    <img src="~/img/libros/1.png" alt="Book 1" style="width: 200px;">
                    <h2>Titulo del Libro 1</h2>
                </div>
            </a>
            <a href="#">
                <div class="libro">
                    <img src="~/img/libros/1.png" alt="Book 1" style="width: 200px;">
                    <h2>Titulo del Libro 1</h2>
                </div>
            </a>
            <a href="#">
                <div class="libro">
                    <img src="~/img/libros/1.png" alt="Book 1" style="width: 200px;">
                    <h2>Titulo del Libro 1</h2>
                </div>
            </a>
            <a href="#">
                <div class="libro">
                    <img src="~/img/libros/1.png" alt="Book 1" style="width: 200px;">
                    <h2>Titulo del Libro 1</h2>
                </div>
            </a>
            
            
        </div>
        <!-- Repite para cada libro -->

