@model IEnumerable<LOTR_Web.Areas.Admin.Models.LibrosViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<div class="adminLibrosdiv">

    <a href="~/Admin/Libros/Agregar">
        <button>Agregar nuevo libro</button>
        

    </a>
    @foreach (var item in Model)
    {
    <div class="objElegible">

        <label>@item.Nombre</label>
        <div class="buttonsCont">

            <a href="~/Admin/Libros/Eliminar/@item.Id">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" class="pth" height="24" viewBox="0 0 24 24"><path d="M9 3v1H4v2h1v13a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V6h1V4h-5V3H9m0 5h2v9H9V8m4 0h2v9h-2V8Z" /></svg>

            </a>
            <a href="~/Admin/Libros/Editar/@item.Id">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" class="pth" height="24" viewBox="0 0 256 256"><path d="m227.31 73.37l-44.68-44.69a16 16 0 0 0-22.63 0L36.69 152A15.86 15.86 0 0 0 32 163.31V208a16 16 0 0 0 16 16h44.69a15.86 15.86 0 0 0 11.31-4.69L227.31 96a16 16 0 0 0 0-22.63ZM51.31 160l90.35-90.35l16.68 16.69L68 176.68ZM48 179.31L76.69 208H48Zm48 25.38L79.31 188l90.35-90.35l16.68 16.69Z" /></svg>

            </a>
        </div>
    </div>
        
    }
</div>

