
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="librosContainer">
    <div class="libro">
        <a href="www.goog.com">
            <img src="/img/libros/1.png" alt="Book 1" style="width: 200px;">
            <h2>Titulo del Libro 1</h2>
        </a>
    </div>
    <div class="libro">
        <a href="www.goog.com">
            <img src="/img/libros/1.png" alt="Book 1" style="width: 200px;">
            <h2>Titulo del Libro 1</h2>
        </a>
    </div><div class="libro">
        <a href="www.goog.com">
            <img src="/img/libros/1.png" alt="Book 1" style="width: 200px;">
            <h2>Titulo del Libro 1</h2>
        </a>
    </div><div class="libro">
        <a href="www.goog.com">
            <img src="/img/libros/1.png" alt="Book 1" style="width: 200px;">
            <h2>Titulo del Libro 1</h2>
        </a>
    </div><div class="libro">
        <a href="www.goog.com">
            <img src="/img/libros/1.png" alt="Book 1" style="width: 200px;">
            <h2>Titulo del Libro 1</h2>
        </a>
    </div><div class="libro">
        <a href="www.goog.com">
            <img src="/img/libros/1.png" alt="Book 1" style="width: 200px;">
            <h2>Titulo del Libro 1</h2>
        </a>
    </div><div class="libro">
        <a href="www.goog.com">
            <img src="/img/libros/1.png" alt="Book 1" style="width: 200px;">
            <h2>Titulo del Libro 1</h2>
        </a>
    </div><div class="libro">
        <a href="www.goog.com">
            <img src="/img/libros/1.png" alt="Book 1" style="width: 200px;">
            <h2>Titulo del Libro 1</h2>
        </a>
    </div><div class="libro">
        <a href="www.goog.com">
            <img src="/img/libros/1.png" alt="Book 1" style="width: 200px;">
            <h2>Titulo del Libro 1</h2>
        </a>
    </div><div class="libro">
        <a href="www.goog.com">
            <img src="/img/libros/1.png" alt="Book 1" style="width: 200px;">
            <h2>Titulo del Libro 1</h2>
        </a>
    </div><div class="libro">
        <a href="www.goog.com">
            <img src="/img/libros/1.png" alt="Book 1" style="width: 200px;">
            <h2>Titulo del Libro 1</h2>
        </a>
    </div><div class="libro">
        <a href="www.goog.com">
            <img src="/img/libros/1.png" alt="Book 1" style="width: 200px;">
            <h2>Titulo del Libro 1</h2>
        </a>
    </div><div class="libro">
        <a href="www.goog.com">
            <img src="/img/libros/1.png" alt="Book 1" style="width: 200px;">
            <h2>Titulo del Libro 1</h2>
        </a>
    </div><div class="libro">
        <a href="www.goog.com">
            <img src="/img/libros/1.png" alt="Book 1" style="width: 200px;">
            <h2>Titulo del Libro 1</h2>
        </a>
    </div><div class="libro">
        <a href="www.goog.com">
            <img src="/img/libros/1.png" alt="Book 1" style="width: 200px;">
            <h2>Titulo del Libro 1</h2>
        </a>
    </div><div class="libro">
        <a href="www.goog.com">
            <img src="/img/libros/1.png" alt="Book 1" style="width: 200px;">
            <h2>Titulo del Libro 1</h2>
        </a>
    </div>


</div>
<!-- Repite para cada libro -->
        <!-- Repite para cada libro -->

