@{
    Layout = "UserLayout";
}
<div class="mainIndexcontainer">
    <section>
        <div style="display: flex;">
            <img class="mainFoto" src="~/img/JRRTolkien.jpg" alt="Lord of the Rings">
            <div style="margin-left: 20px;">
                <h1>The Lord of the Rings</h1>
                <p>La Tierra Media es el escenario de la mayor parte de las historias del autor británico J. R. R. Tolkien, donde se encuentran la mayoría de sus razas y personajes, y donde ocurren la mayoría de los eventos de sus libros.</p>
                <br />
                <p>Hola! Bienvenido a la enciclopedia del universo de El Señor de los Anillos. Aquí encontrarás información detallada sobre los personajes, lugares, eventos y todo lo relacionado con la obra maestra de J.R.R. Tolkien.</p>
            </div>
        </div>
    </section>
</div>
