:root{
    --primario: #232D3F;
    --primarioOscuro: #89119d;
    --secundario: #ffce00;
    --secundarioOscuro: rgb(233,287,2);
    --blanco: #fff;
    --negro: #000000;
    --fuenteprincipal: 'Staaliches', cursive;
    --prueba: #005B41;
    --fondo: #F4EAE0;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;     /*Para que que un ream sea 10px */
    background-image: url(/img/bck.webp);
    background-repeat: repeat;
    background-size: auto;
    background-size: cover;
    resize: auto;
    height: 100%;
    font-family: var(--fuenteprincipal);
}
  *,*:before, *:after {
    box-sizing: inherit;
}
*{

    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.mainIndexcontainer{
    padding-top: 10%;
    margin-left: 3%;

}
.mainIndexcontainer>section>div>img{
    width: 30%;
    border: 2px solid black;
    border-radius: 3px;
    transition:1s all;
}
.mainIndexcontainer>section>div>div{
    background-color: rgba(227, 227, 227, 0.406);
    width: 100rem;
    
}
.mainIndexcontainer>section>div>img:hover{
    border-radius: 3px;
    box-shadow: 1rem 1.5rem 1rem 1rem rgba(0, 0, 0, 0.386);
}
.mainIndexcontainer>section>div{
    text-align: center;
    font-size: 3rem;
    
}
header{
    background-size: cover;
}

.navbar{
    background-color: black;
    position: absolute;
    top: 0;
    padding: 1rem;
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.navbar a{
    color: white;
    font-weight: bold;
    transition: 1s all;
}
.navbar a:hover{
    
    text-shadow: 0rem 0rem 1rem  gray ;
}

.navbar .logo a{
    font-size: 9rem;
    font-weight: bold;
}

.navbar .nav-links ul{
    display: flex;
}

.navbar .nav-links ul li{
    margin: 0 2.5rem;
}

.navbar .nav-links ul li.active a{
    color: var(--secundario);
    font-weight: 600;
}
.logo{
    font-size: 1.5rem;
    transition: 1s all;
    border-radius: 1rem;
}
.errors{
    color:red;
}
label{
    font-size:1.5rem;
}
.logo:hover{
    background-color: rgba(255, 255, 255, 0.293);
}
.titleContainer{
    position: relative;
    padding: 20px;
}
.navbar .menu-slide{
    display: none;
    position: absolute;
    top: 1rem;
    right: 5rem;
    width: 3.5rem;
}
.librosContainer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.librosContainer>div>a{
    text-decoration: none;
    color: white;
}
.libro {
    border-radius: 5px;
    padding: 10px;
    margin-top: 10rem;
    text-align: center;
    color: white;
    transition: 1s all;
    
}
.libro {
    width: 100%;
    height: auto;
}
.libro:hover{
    background-color: rgba(255, 255, 255, 0.200);
    backdrop-filter: blur(.5rem);
    border-radius: 5px;
    box-shadow: 1rem 1.5rem 1rem 1rem rgba(0, 0, 0, 0.386);
}

@media screen and (max-width: 900px) {
    .librosContainer {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .navbar .logo a{
        position: absolute;
        top: 5rem;
        left: 5rem;
    }
    
    @media screen and (max-width: 500px){
        .librosContainer {
            grid-template-columns: repeat(1, 1fr);
            align-items: center;
            text-align: center;
        }
    }
    .navbar .menu-slide{
        display: block;
    }
    .nav-links{
    left: 0;
    top: 0;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.200);
    backdrop-filter: blur(.5rem);
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: -100%;
    transition: all 0.5s ease;
    font-size: 10rem;
    }
    .nav-links.mobile-menu{
        margin-left: 0;
    }

    .nav-links ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-links ul li{
        font-size: 2rem;
        margin: 2.5rem 0;
    }
} 
.mainFoto{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 900px) {
    .mainFoto{
        display: none;
    }
}




