
@{
    Layout = "AdminLayout";
}

<section class="foroSection">
    <div class="container">
        <div class="container-usario">
            <div class="headerPost">
                <div class="profile-pic">
                    <img src="/img/6.jpg" alt="Foto">
                </div>
                <label class="nameForo">Alexis</label>

                <label class="dateForo">&#x2022; 22/11/2023 12:00:00</label>
            </div>
            <p>titulo</p>
            <!--SOLO SI EL USUARIO SUBIO IMG-->
            <img src="img/5.jpg" class="postFoto" alt="">

            <div class="iconos">
                <button>
                    <img src="/img/FlatColorIconsLike.svg" alt="corazon">
                </button>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="container-usario">
            <div class="headerPost">
                <div class="profile-pic">
                    <img src="/img/6.jpg" alt="Foto">
                </div>
                <label class="nameForo">Alexis</label>

                <label class="dateForo">&#x2022; 22/11/2023 12:00:00</label>
            </div>
            <p>titulo</p>
            <!--SOLO SI EL USUARIO SUBIO IMG-->
            <img src="img/5.jpg" class="postFoto" alt="">

            <div class="iconos">
                <button>
                    <img src="/img/FlatColorIconsLike.svg" alt="corazon">
                </button>
            </div>
        </div>
    </div><div class="container">
        <div class="container-usario">
            <div class="headerPost">
                <div class="profile-pic">
                    <img src="/img/6.jpg" alt="Foto">
                </div>
                <label class="nameForo">Alexis</label>

                <label class="dateForo">&#x2022; 22/11/2023 12:00:00</label>
            </div>
            <p>titulo</p>
            <p class="txtPost">
                "El Señor de los Anillos: La Comunidad del Anillo" es una obra maestra de la fantasía que ha dejado una huella indeleble en la cultura popular. La trama sigue a Frodo Bolsón, un pequeño hobbit, quien hereda un anillo de poder de su tío Bilbo. Este anillo resulta ser el Anillo Único, forjado por el Señor Oscuro Sauron para gobernar toda la Tierra Media. Frodo, junto con sus amigos, se embarca en un viaje lleno de incertidumbre para destruir el Anillo Único y frustrar los malvados planes de Sauron.

                La película es notable por su impresionante producción, actuaciones excepcionales y música evocadora. Los efectos especiales son asombrosos, el vestuario y el maquillaje son impresionantes, y los escenarios y la fotografía son maravillosos. Todo esto, combinado con una narrativa concisa y descriptiva, crea un mundo de fantasía casi tangible.

                Los personajes son igualmente memorables, desde el valiente Frodo hasta el sabio mago Gandalf. Cada personaje está bien desarrollado y aporta algo único a la historia. Además, la psicología de los personajes es excepcional, especialmente la de Gollum, uno de los personajes más logrados de Tolkien.

                En resumen, "El Señor de los Anillos: La Comunidad del Anillo" es más que una película; es una experiencia inolvidable que te transporta a un mundo mágico lleno de aventuras y heroísmo. Es una joya del cine de fantasía que ha resistido la prueba del tiempo y sigue siendo relevante y emocionante hoy en día. Sin duda, es una película imprescindible para cualquier amante del cine y de la literatura fantástica.
            </p>
            <div class="iconos">
                <button>
                    <img src="/img/FlatColorIconsLike.svg" alt="corazon">
                </button>
            </div>
        </div>
    </div>

</section>