@model IEnumerable<LOTR_Web.Areas.Admin.Models.AdminPublicacionesViewModel>
@{
    Layout = "AdminLayout";
}

<section class="foroSection">
    @foreach (var item in Model)
    {
        
    <div class="container">
        <div class="container-usario">
            <div class="headerPost">
                <div class="profile-pic">
                    <img src="/img/6.jpg" alt="Foto">
                </div>
                <label class="nameForo">Alexis</label>

                <label class="dateForo">@item.
                    Fecha</label>
            </div>
                <p class="txtPost">
                    @item.Texto
                </p>
                @if (item.Archivo != null)
                {
                    
                <img src="img/5.jpg" class="postFoto" alt="">
                }

            <div class="iconos">
                <button>
                    <img src="/img/FlatColorIconsLike.svg" alt="corazon">
                </button>
            </div>
        </div>
    </div>
    }
   

</section>