<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="~/css/header.css">
    <link rel="stylesheet" href="~/css/foro.css">
    <link href="~/css/ObjViewStyles.css" rel="stylesheet" />
    <link href="~/css/formStyles.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/AdminLibros.css">
    <title>THE LORD OF THE RINGS</title>

</head>
<body>

    <header>
        <nav class="navbar">
            <a href="#" class="logo">
                <div class="titleContainer">
                    <p>THE LORD OF THE RINGS</p>
                </div>
            </a>
            <div class="nav-links">
                <ul class="ulLinks">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a class="linkA" href="/Admin/Libros">Agregar Libros</a></li>
                    @* <li><a class="linkA" href="#">Agregar Personajes</a></li> *@
                    <li><a class="linkA" href="~/Admin/Juegos">Agregar Juegos</a></li>
                    <li><a class="linkA" href="~/Admin/Publicaciones">Foro</a></li>
                    <li><a class="linkA" href="~/Admin/Peliculas">Agregar Peliculas</a></li>
                    <li><a class="linkA" href="~/Home/LogOut">Cerrar Sesion</a></li>
                </ul>
            </div>
            <svg class="menu-slide" xmlns="http://www.w3.org/2000/svg" width="30" height="55" viewBox="0 0 24 24"><path fill="currentColor" d="M4 18q-.425 0-.713-.288T3 17q0-.425.288-.713T4 16h16q.425 0 .713.288T21 17q0 .425-.288.713T20 18H4Zm0-5q-.425 0-.713-.288T3 12q0-.425.288-.713T4 11h16q.425 0 .713.288T21 12q0 .425-.288.713T20 13H4Zm0-5q-.425 0-.713-.288T3 7q0-.425.288-.713T4 6h16q.425 0 .713.288T21 7q0 .425-.288.713T20 8H4Z" /></svg>
        </nav>
    </header>

    <!-- Menu -->
    <main>
        @RenderBody();
    </main>
    <footer>
        <p>
            Este sitio web es un proyecto de estudiantes y no está afiliado con los titulares de los derechos de autor de El Señor de los Anillos.
            <span class="copyR">
                Copyright © 2023 ITESRC
            </span>
        </p>
    </footer>
    <script src="~/js/menu.js"></script>
</body>
</html>